<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <h1 class="text-center">Sejam bem vindos ao meu blog!</h1>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt possimus facere mollitia quod reiciendis delectus repellat nihil fugiat autem quos qui porro nemo quia, recusandae aut tenetur facilis labore ex.</p>
            </div>
        </div>

        <div class="parallax"> </div>

    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink = '/feed'> Ver o Feed</button>
        </div>
    </div>
    
</body>
</html>