<div class="container">

    <div class="row mt-5 mb-5">

        <div class="col-md-4 ">

            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img class="img-responsive" src= "assets/pessoal.jpg" alt="Imagem Gabriel" class="card-img-top rounded-circle w-75">
                </div>
                

                <div class="card-body">
                  <h5 class="card-title text-center">Gabriel Fernando</h5>

                  <p class="card-text text-center">Em aprendizado continuo, ajudo comunidades e pessoas com desenvolvimento Web, orientação a objetos e banco de dados.Em transição de carreira, uso minhas experiencias anteriores em infraestrutura par agregar valor na nova profissão que almejo, tais como atendimento ao cliente, entender problemas, trabalhar sobre pressão e entender a solicitação do ciente. </p>

                  <a href="https://www.linkedin.com/in/gabriel-fernando-mcsilva/" class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blank">LinkedIn</a>

                  <a href="https://github.com/bielmoita" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

                  <hr class="mt-4 mb-4">

                  <h6 class="mb-3 text-monospace text-center">Pesquisar por título</h6>
                  <input type="text" class="form-control mb-3 w-100" placeholder="Pesquisar postagem">
                  <button class="btn btn-outline-warning w-100" type="button">Pesquisar</button>

                </div>
              </div>
            
        </div>

        <div class="col-md-8">

            <div>
                <h3 class="text-center text-monospace">Como tem sido minha experiência na Generation?</h3>
                
                <div class="form-group">

                    <label for="titulo" class="text-monospace">Titulo</label>
                    <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Digite seu Titulo" [(ngModel)]="postagem.titulo">

                    
                </div>
                <div class="form-group">
                    <label for="texto" class="text-monospace">Texto: </label>
                    <textarea name="texto" id="texto" cols="30" rows="4" class="form-control" placeholder="Digite seu texto" [(ngModel)]="postagem.texto"></textarea>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-info w-25" (click)="publicar()" >Publicar</button>
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <h3 class="text-monospace text-center mb-5">Minhas postagens</h3>

            <div class="card mb-4" *ngFor="let postagem of listaPostagens">

                <div class="card-header">
                    <h5 class="card-title"> {{ postagem.titulo }} </h5>
                    
                </div>

                <div class="card-body">
                    <p class="card-text"> {{ postagem.texto }}</p>
                    <small class="form-text m-0 text-muted mb-3 text-monospace"> 
                    Postado em:    {{ postagem.data | date: 'dd/MM/yyyy' }} às {{ postagem.data | date:'HH:mm' }}
                    </small>
                    
                    
                </div>

            </div>
            
            

        </div>
    </div>


</div>




<!-- <div class="container">

    <div class="row mt-5 mb-5">

        <div class="col-md-4 ">

            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img class="card-img-top rounded-circle w-75" src="./img/IMG_BLOGPessoal.jpg" alt="Imagem Gabriel">
                </div>
                

                <div class="card-body">
                  <h5 class="card-title text-center">Gabriel Fernando</h5>

                  <p class="card-text text-center">Em aprendizado continuo, ajudo comunidades e pessoas com desenvolvimento Web, orientação a objetos e banco de dados.Em transição de carreira, uso minhas experiencias anteriores em infraestrutura par agregar valor na nova profissão que almejo, tais como atendimento ao cliente, entender problemas, trabalhar sobre pressão e entender a solicitação do ciente. </p>

                  <a href="https://www.linkedin.com/in/gabriel-fernando-mcsilva/" class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blank">LinkedIn</a>

                  <a href="https://github.com/bielmoita" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

                  <hr class="mt-4 mb-4">

                  <h6 class="mb-3 text-monospace text-center">Pesquisar por título</h6>
                  <input type="text" class="form-control mb-3 w-100" placeholder="Pesquisar postagem">
                  <button class="btn btn-outline-warning w-100" type="button">Pesquisar</button>

                </div>
              </div>
            
        </div>

        <div class="col-md-8">

            <div>
                <h3 class="text-center text-monospace">Como tem sido minha experiência na Generation?</h3>
                
                <div class="form-group">

                    <label for="titulo" class="text-monospace">Titulo</label>
                    <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Digite seu Titulo">

                    
                </div>
                <div class="form-group">
                    <label for="texto" class="text-monospace">Texto: </label>
                    <textarea name="texto" id="texto" cols="30" rows="4" class="form-control" placeholder="Digite seu texto"></textarea>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-info w-25">Publicar</button>
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <h3 class="text-monospace text-center">Minhas postagens</h3>
            
            

        </div>
    </div>


</div> -->
